@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* background-color: #f8f9fa; */
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

section {
  height: 85vh;
}

.bg-black {
  background-color: #000;
}

/* General Container */
.container {
  max-width: 1400px;
  margin-top: 50px;
}

/* Headings */
.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form Elements */
/* form {
  width: 500px;
} */

.form-group {
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Buttons */
.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: none !important;
}

.button-bg {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  outline: none;
}

/* Login and Registration Form Styles */
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2,
.register-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Home Page */
.home-container {
  text-align: center;
}

.home-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #218838;
}

/* Order List and Cards */
.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.order-card h3 {
  margin-top: 0;
  font-size: 20px;
}

.order-card p {
  margin: 5px 0;
  font-size: 16px;
}

/* Order Form Styles */
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* .order-form .form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
} */

.order-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  height: 100px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container,
  .order-list {
    padding: 10px;
  }

  .order-card {
    width: 100%;
    max-width: 400px;
  }
}

/* Additional Styles for Delete Button */
.delete-button {
  background-color: #dc3545;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

/* navbar */
nav.navbar {
  padding: 10px 25px;
}

.navbar-brand {
  width: 100px;
}

.navbar-brand img {
  width: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
}

a#navbarDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#navbarTogglerDemo02 {
  justify-content: flex-end;
}

div#navbarTogglerDemo02 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav .dropdown-menu {
  display: block;
  left: -120px;
}

/* robot form */

.place-robot-form {
  padding: 20px;
  border: 2px solid #d3d2d2;
  border-radius: 12px;
}

.map {
  height: 85vh;
}
.home-order-checkout {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
  padding: 16px;
}

/* bookings page */

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 10px;
}

.btn-outline-secondary {
  border-radius: 20px;
}

.card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* auth page */
.auth .login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 50px;
}

.auth .login-container form {
  text-align: center;
}

.auth .form-control {
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
}

.auth .btn-custom {
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
}

.auth .btn-google,
.auth .btn-apple,
.auth .btn-qr {
  border-radius: 25px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}
.auth .divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.auth .divider::before,
.auth .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}
.auth .divider:not(:empty)::before {
  margin-right: 0.5em;
}
.auth .divider:not(:empty)::after {
  margin-left: 0.5em;
}
.auth .form-text {
  text-align: center;
  color: #6c757d;
  font-size: 12px;
}

/* terms and condiotns */
.terms-conditions {
  height: 200px;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.terms-conditions p {
  font-size: 13px;
  font-weight: 500;
}

.terms-conditions .see-terms {
  font-size: 13px;
  font-weight: 500;
  text-decoration: underline;
}
